{% extends 'layout.html' %}
{% load static %}


{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
         <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Liste des Groupes</div>
        <hr class="mt-2">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Nombre de membres</th>
                  <th>Jetons Restant</th>
                  <th>Projet</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nom</th>
                  <th>Nombre de membres</th>
                  <th>Jetons Restant</th>
                  <th>Projet</th>
                </tr>
              </tfoot>
              <tbody>
              {% for group in groups %}
                  {% if  group.private %}
                    <tr>
                      <td><a href="{% url 'detailGroup' group.id %}">{{ group.name }}</a>  </td>
                        <td>{{ group.users }}  </td>
                        <td>{{ group.token_remain }}  </td>
                        <td>{{ group.project }}  </td>
                    </tr>
                      {% endif %}
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
{% endblock %}