{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
<!-- Icon Cards-->
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Liste des demandes</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date demande</th>
                  <th>Cout</th>
                  <th>Intervenant</th>
                  <th>Demande</th>
                  <th>Statuts</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Date demande</th>
                  <th>Cout</th>
                  <th>Intervenant</th>
                  <th>Demande</th>
                  <th>Statuts</th>
                </tr>
              </tfoot>
              <tbody>
                {% for request in requests %}
                    <tr>
                        <td><a href="{% url 'detailRequest' request.id %}">{{ request.date }}</a>  </td>
                        <td>{{ request.cout }}  </td>
                        <td>{{ request.intervenant }}  </td>
                        <td>{{ request.type }}  </td>
                        <td>{{ request.statut }}  </td>
                    </tr>
              {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
     </div>
{% endblock %}