@font-face {
    font-family: 'Pokemon-Hollow';
    src : url('fonts/Pokemon-Hollow.ttf') format("truetype");
}

@font-face {
    font-family: 'Pokemon-Solid';
    src : url('fonts/Pokemon-Solid.ttf') format("truetype");
}


.titre{
    font-family: Pokemon-Solid, Serif;
    font-size: 2.3em;
    color: #3a5683;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 5px;
}


