{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
<!-- Icon Cards-->

        <!-- Card Columns Example Social Feed-->

        <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Liste des projets</div>
        <hr class="mt-2">
        <div class="row">
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/2.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>
                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/3.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/4.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/5.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/6.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/7.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/FinTech.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/1.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}