{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
<!-- Icon Cards-->
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Mes demandes</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date du jeton</th>
                  <th>Cout</th>
                  <th>Etats</th>
                  <th>Intervants</th>
                  <th>Demande</th>
                  <th>Réponse</th>
                  <th>Date de cloture</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Date du jeton</th>
                  <th>Cout</th>
                  <th>Etats</th>
                  <th>Intervants</th>
                  <th>Demande</th>
                  <th>Réponse</th>
                  <th>Date de cloture</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>10/04/2018</td>
                  <td>10</td>
                  <td>Soumis</td>
                  <td>Patrice Got</td>
                  <td>Je souhaite mettre à jour un champ</td>
                  <td>Et bien bonne chance :-)</td>
                  <td>En cours</td>
                </tr>
                <tr>
                  <td>10/04/2018</td>
                  <td>5</td>
                  <td>Cloturé</td>
                  <td>Michel Gillet</td>
                  <td>Comment créer une base de données ?</td>
                  <td>Il fallait suivre mes cours !!!</td>
                  <td>Terminé</td>
                </tr>
                <tr>
                  <td>12/04/2018</td>
                  <td>3</td>
                  <td>En attente</td>
                  <td>Pedago</td>
                  <td>Peut-on avoir des crédits en plus ?</td>
                  <td>Je demande au National</td>
                  <td>En attente</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Card Columns Example Social Feed-->

        <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Liste des projets</div>
        <hr class="mt-2">
        <div class="row">
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/2.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>
                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/3.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/4.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-sm-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/5.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet FinTech</a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/6.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>


                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/7.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/FinTech.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
            <div class="card mb-3 col-lg-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="{% static 'img/1.jpg' %}" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">Projet </a></h6>
                    <p class="card-text small">
                      Nunc et semper mauris, eu varius mauris.
                    </p>

                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}