{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Projet</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <!-- Infos utilisateur Card-->


            <div class="card mb-2">
                <div class="card-header">
                    Projet {{ project.name }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 my-auto">
                            <img class ="avatar_img" src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="logo.png"/>
                        </div>
                        <div class="col-sm-4  my-auto">
                            <div class="mb-1">Description du projet :</div>
                            <div class="mb-1 text-muted">{{ project.description }}</div>
                            <hr>
                            <div class="text-muted">Jetons attribués au projet : {{ project.token }}</div>
                        </div>
                        <div class="col-sm-4  my-auto">
                            <div class="mb-1"><a data-toggle="popover" title="Popover Header" href="{% url 'createGroup' %}">Créer un groupe pour ce projet</a></div>
                            <hr>
                          <div class="mb-1 text-muted"><a href="{% url 'updateGroup' %}">Rejoindre un groupe sur ce projet</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Columns Example Social Feed-->

            <!-- /Card Columns-->
        </div>

    </div>

          <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Liste des Groupes sur ce projet</div>
        <hr class="mt-2">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Nombre de menbres</th>
                  <th>Jetons Attribués</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nom</th>
                  <th>Nombre de menbres</th>
                  <th>Jetons Attribués</th>
                </tr>
              </tfoot>
              <tbody>
              {% for team in teams %}
                  <tr>
                      <td><a href="{% url 'detailGroup' team.id %}">{{ team.name }}</a>  </td>
                      <td>{{ team.users.count }} / {{ team.max_user }} </td>
                      <td>{{ team.token_remain }}  </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}