{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/groupe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    <!-- Icon Cards-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Mes demandes
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date demande</th>
                        <th>Cout</th>
                        <th>Etats</th>
                        <th>Intervants</th>
                        <th>Demande</th>
                        <th>Réponse</th>
                        <th>Date de cloture</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Date demande</th>
                        <th>Cout</th>
                        <th>Etats</th>
                        <th>Intervants</th>
                        <th>Demande</th>
                        <th>Réponse</th>
                        <th>Date de cloture</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i in "xxxx" %}
                        <tr>
                            <td>10/04/2018</td>
                            <td>10</td>
                            <td>Soumis</td>
                            <td>Patrice Got</td>
                            <td>Je souhaite mettre à jour un champ</td>
                            <td>Et bien bonne chance :-)</td>
                            <td>En cours</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Card Columns Example Social Feed-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-newspaper-o"></i> Liste des projets
        </div>
        <div class="card-body">
            <div class="row">
                {% for project in projects %}
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{% url 'detailProject' project.id %}">
                                    {% if project.image %}
                                        <img class="card-img-top img-fluid w-100" src="{{ project.image.url }}" alt="">
                                    {% else %}
                                        <img class="card-img-top img-fluid w-100" src="" alt="">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title mb-1"><a href="{% url 'detailProject' project.id %}">{{ project.name }}</a></h6>
                                    <p class="card-text small">
                                        {{ project.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}